<div class="orientations">
  <svg viewBox="0 0 500 300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision;">
    <g id="one">
      <circle cx="250" cy="66" r="50" stroke="#617b91" fill="transparent" stroke-opacity="0.2"/>
      <text dx="250" dy="64" text-anchor="middle" stroke="none" fill="#868686">hormone</text>
      <text dx="250" dy="78" text-anchor="middle" stroke="none" fill="#868686">balance</text>
    </g>
    <g id="two">
      <circle cx="175" cy="116" r="50" stroke="#617b91" fill="transparent" stroke-opacity="0.2"/>
      <text dx="175" dy="120" text-anchor="middle" stroke="none" fill="#868686">inflammation</text>
    </g>
    <g id="three">
      <circle cx="325" cy="116" r="50" stroke="#617b91" fill="transparent" stroke-opacity="0.2"/>
      <text dx="325" dy="116" text-anchor="middle" stroke="none" fill="#868686">stress</text>
      <text dx="325" dy="130" text-anchor="middle" stroke="none" fill="#868686">response</text>
    </g>
    <g id="four">
      <circle cx="204" cy="202" r="50" stroke="#617b91" fill="transparent" stroke-opacity="0.2"/>
      <text dx="204" dy="200" text-anchor="middle" stroke="none" fill="#868686">gut</text>
      <text dx="204" dy="216" text-anchor="middle" stroke="none" fill="#868686">health</text>
    </g>
    <g id="five">
      <circle cx="296" cy="202" r="50" stroke="#617b91" fill="transparent" stroke-opacity="0.2"/>
      <text dx="296" dy="200" text-anchor="middle" stroke="none" fill="#868686">nutritional</text>
      <text dx="296" dy="216" text-anchor="middle" stroke="none" fill="#868686">status</text>
    </g>
  </svg>
</div>
