{{#swiper-container registerAs=testimonialSwiper class="testimonial center" autoplay=5000 loop=true speed=666}}
  {{#swiper-slide}}
    <div class="testimonial-text" id="testimonial-one">
      “I felt comfortable right away with Dr. Kraker, and find her compassionate & intelligent. <br>
      I really like that she doesn't push medications, but mostly how well she understands me.”
    </div>
    <div class="testimonial-author">
      - m.b.
    </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
    <div class="testimonial-text" id="testimonial-two">
        "In my journey to find balance and my decision to try to come off my <br>
        anti-depressent/anti-anxiety meds, our work together has been transformative <br>
        for me and for my husband. I've utilized the holistic approaches you spoke <br>
        about, from yoga/movement to emotional healing and mindfulness to truly <br>
        embrace my next life stage - becoming a mother."
    </div>
    <div class="testimonial-author">
      - s.r.
    </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
    <div class="testimonial-text" id="testimonial-three">
        “It was refreshing to work with a psychiatrist who actually took me off my medications”
    </div>
    <div class="testimonial-author">
      - s.m.
    </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
    <div class="testimonial-text" id="testimonial-four">
        “I trust her implicitly, she is one of the smartest doctors around. <br>
        She helped me find the courage to experience more intimacy in my life <br>
        and the freedom  to be myself”
    </div>
    <div class="testimonial-author">
    - b.r.
    </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
    <div class="testimonial-text" id="testimonial-five">
        “She found her calling, Dr.Kraker is in the right line of work, <br>
        and has had a tremendous impact on me—and by extension— my wife”
    </div>
    <div class="testimonial-author">
      - r.r.
    </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
  <div class="testimonial-text" id="testimonial-six">
    “Dr. Kraker made connections for me that no other psychiatrist, or anyone, ever has”
  </div>
    <div class="testimonial-author">
      - d.k.
    </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
    <div class="testimonial-text" id="testimonial-seven">
      “She just gets it. I’d recommend her to anyone struggling with an eating disorder”
    </div>
    <div class="testimonial-author">
      - a.b.
    </div>
  {{/swiper-slide}}

{{/swiper-container}}
