{{#swiper-container class="testimonial center" autoplay=5000 loop=true}}
  {{#swiper-slide}}
    Dr. Kraker is an excellent psychotherapist. She didn't spend years discussing my childhood, but brought
    clarity to how it is relavent here and now.
  <div class="testimonial-author">
    - a.m.d.
  </div>
  {{/swiper-slide}}

  {{#swiper-slide}}
      In my journey to find balance and my decision to try to come off my anti-depressent/anti-anxiety
      meds, our work together has been transformative for me and for my husband. I've utilized the
      holistic approaches you spoke about, from yoga/movement to emotional healing and mindfulness to
      truly embrace my next life stage - becoming a mother.
    <div class="testimonial-author">
      - s.r.
    </div>
  {{/swiper-slide}}

  {{#swiper-slide}}
    <p>
      Wonder
    </p>
    <div class="testimonial-author">
      - e.s.
    </div>
  {{/swiper-slide}}

  {{#swiper-slide}}
    <p>
        Bingo
    </p>
    <div class="testimonial-author">
      - j.k.
    </div>
  {{/swiper-slide}}

  {{#swiper-slide}}
    <p>
      Butter
    </p>
    <div class="testimonial-author">
      - a.b.c.
    </div>
  {{/swiper-slide}}
{{/swiper-container}}
