{{#swiper-container registerAs=testimonialSwiper class="testimonial center" autoplay=5000 loop=true speed=666}}
  {{#swiper-slide}}
  <div class="testimonial-text" id="testimonial-one">
      Dr. Kraker is an excellent psychotherapist. She didn't spend years discussing my childhood, <br>
      but brought clarity to how it is relavent here and now.
  </div>
  <div class="testimonial-author">
    - a.m.d.
  </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
  <div class="testimonial-text" id="testimonial-two">
      In my journey to find balance and my decision to try to come off my <br>
      anti-depressent/anti-anxiety meds, our work together has been transformative <br>
      for me and for my husband. I've utilized the holistic approaches you spoke <br>
      about, from yoga/movement to emotional healing and mindfulness to truly <br>
      embrace my next life stage - becoming a mother.
  </div>
  <div class="testimonial-author">
    - s.r.
  </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
  <div class="testimonial-text" id="testimonial-three">
      Wonder
  </div>
  <div class="testimonial-author">
    - e.s.
  </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
  <div class="testimonial-text" id="testimonial-four">
      Bingo
  </div>
  <div class="testimonial-author">
  - j.k.
  </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
  <div class="testimonial-text" id="testimonial-five">
      Butter
  </div>
    <div class="testimonial-author">
      - a.b.c.
    </div>
  {{/swiper-slide}}
{{/swiper-container}}
