@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,300,300i,500,500i|Italianno');

/*global*/
html, body {
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.brown {
  color: #868686;
}

.grey {
  background-color: #f4f4f4;
}

.blue {
  color: #617b91;
}

/*header*/
.header {
  display:flex;
  flex-wrap:nowrap;
}

.header_left {
  width: 50%;
}

.header_right {
  width: 50%;
}

.header_left h1, .header_right h1 {
  margin:0;
  padding-top:10px;
  letter-spacing:0.5px;
  font-weight:100;
}

.header a {
  text-decoration: none;
  color: inherit;
}

#title {
  text-align: center;
}

#phone {
  text-align: center;
}

.welcome_text {
  font-size: 16px;
  text-align:center;
}

/*navigation bar*/
.navigation {
  background-color: #f4f4f4;
  height: 2.8vh;
  display: flex;
}

.navigation .links {
  width: 70%;
  display: flex;
  align-items: center;
  margin-left:20%;
  align-content: space-around;
}

@media(max-width: 650px){
  .navigation .links {
    width: 95%;
    margin-left: 5%;
  }
}

@media(max-width: 500px){
  .navigation .links {
    width: 90%;
    margin-left: 2.5%;
    margin-right: 0;
  }
}

.navigation .link {
  width: 25%;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 100;
}

@media(max-width: 650px){
  .navigation .link {
    width: 30%
  }
}

.navigation a {
  text-decoration: none;
  -webkit-transition: 0.66s ease;
}

.navigation a:hover {
  color: lightblue;
}

.main {
  height: 92vh;
  margin: 0;
  padding: 0;
  display:flex;
  background-color: #ccd3cc;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.left {
  width: 50%;
  margin:0;
}

.right {
  width: 50%;
  margin:0;
  background: url(/assets/images/JenniferKrakerMD.jpg) #ccd3cc no-repeat;
  background-size: contain;
  background-position: right;
}

.center {
  justify-content: center;
}

.welcome_text {
  display: flex;
  justify-content: center;
}

.welcome_tag {
  padding-top: 3.5em;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight:300;
}

@media(max-width: 600px){
  .welcome_tag {
    font-size: 13px;
  }
}

@media(max-width: 520px){
  .welcome_tag {
    font-size: 12px;
  }
}

#title, #phone {
  font-weight: 100;
  font-size: 18px;
}

@media(max-width: 600px){
  #title, #phone {
    font-size: 15px;
  }
}

@media(max-width: 520px){
  #title, #phone {
    font-size: 13px;
  }
}

.welcome_title hr {
  height: 1px;
  margin: 0 auto;
  width: 98%;
  background-color: #617b91;
  border: none;
}

#title_name {
  font-family: 'Italianno', cursive;
  margin-bottom: -0.3em;
  font-size: 48px;
}

@media(max-width: 600px){
  #title_name {
    font-size:41px;
  }
}

@media(max-width: 520px){
  #title_name {
    font-size:36px;
  }
}

#title_tag {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

@media(max-width: 600px){
  #title_tag {
    font-size:14px;
  }
}

@media(max-width: 520px){
  #title_tag {
    font-size:13px;
  }
}

.heading {
  text-align: center;
  font-size: 20px;
  margin:0;
  padding-top: 5%;
  text-transform: uppercase;
  font-weight:300;
}

.about p, .new-patients p {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 100;
  padding: 2.8% 0;
}

.expertise .heading {
  padding-top: 5%;
  text-align: center;
}

.expertise ul {
  padding: 4% 0;
  width: 57%;
  margin-left:40%;
  font-size: 14px;
  font-weight: 100;
  list-style: circle;
}


@media(max-width: 600px){
  .expertise ul {
    margin:0 auto;
  }
}

.expertise ul .sublist {
  list-style: disc;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-left: 5%;
}

.conditions {
    min-height: 92vh;
}

.conditions p {
  width: 66%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 100;
  padding: 3% 0;
}

.philosophy .heading, .new-patients .heading {
  letter-spacing: 0.2em;
}

.philosophy p {
  width: 66%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 100;
  padding: 3% 0;
}

.orientations {
  margin: 0 12%;
}

.orientations text {
  font-size: 0.82em;
  font-weight: 100;
}

.testimonials {
  overflow-y: hidden;
  min-height: 33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.testimonial {
  font-family: 'Italianno', cursive;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.testimonial p {
  max-width: 88%;
  height: 100%;
  margin: 0 auto;
}

.testimonial-author {
  text-transform: uppercase;
  padding-left: 20%;
  font-size: 24px;
}
