<div class="about grey">
  <h1 class="heading brown">about dr. kraker</h1>
    <p>
      Jennifer Kraker, M.D., M.S., treats those experiencing arduous circumstances—such as relationship stress, family strain, career frustrations, worry, life transitions and times of crisis—to live your most meaningful life.
    </p>
    <p>
       Dr. Kraker is a Cornell and Columbia trained mental health and nutrition expert. She is trained in both traditional and integrative medicine and is on the cutting edge of combining evidence based nutritional and integrative treatments with traditional approaches. 
    </p>
</div>
<div class="expertise">
  <h1 class="heading brown">dr. kraker has special interest &amp; experience treating:</h1>
  <div class="expertise-lists">
    <div>
      <ul>
        <li>Eating disorders</li>
        <ul class="sublist brown">
          <li>Anorexia</li>
          <li>Bulimia Nervosa</li>
          <li>Binge Eating Disorder</li>
          <li>Weight Management</li>
        </ul>
        <li>Addictions</li>
        <li>Mood and Anxiety Disorders</li>
        <li>Reproductive psychiatry</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Integrative Medical Psychiatry</li>
        <ul class="sublist brown">
          <li>Emotional Wellness</li>
          <li>Optimization of Brain Function</li>
          <li>Mental Performance</li>
          <li>Nutritional Psychiatry</li>
        </ul>
      </ul>
    </div>
  </div>
</div>
