<div class="about grey">
  <h1 class="heading brown">about dr. kraker</h1>
    <p>
      Jennifer Kraker, M.D., M.S., is a Cornell and Columbia trained mental health and nutrition expert. She is trained in both traditional and integrative medicine and is on the cutting edge of combining  evidence based nutritional and integrative treatments with traditional approaches. Her approach is highly personal, she will work with you to find a personalized treatment plan including medication, psychotherapy, and integrative modalities. Dr. Kraker is relentless about getting to the root cause of your suffering— whether genetic, environmental, or psycho-spiritual.
    </p>
    <p>
      Dr. Kraker is Board Certified in Psychiatry and Neurology. In addition to her Adult Psychiatry training at Weil Cornell University, she has a graduate degree in Human Nutrition from Columbia College of Physicians and Surgeons, and studied nutritional epigenetics as a Psychiatric Epidemiology Fellow at the Mailman School of Public Health.
    </p>
    <p>
      She has received awards from the American Society of Clinical Nutrition, the Academy of Psychosomatic Medicine, and the is an active member of both the Functional Medicine and Integrative Medicine in Mental Health community.
    </p>
</div>
<div class="education">
  <div class="education-lists">
    <div>
      <h1 class="education-heading brown">education &amp; training</h1>
      <ul>
        <li>Research Fellow, Psychiatric Epidemiology</li>
        <li>M.D. Columbia College of Physicians &amp; Surgeons/</li>
        <li>Medical School for International Health, Ben Gurion University</li>
        <li>M.S. Human Nutrition, Columbia College of Physicians & Surgeons</li>
        <li>B.S. Biochemistry & Nutrition, California Polytechnic University</li>
      </ul>
    </div>
    <div>
      <h1 class="education-heading brown">professional memberships</h1>
      <ul>
        <li>American Nutrition Association</li>
        <li>American Society of Clinical Pharmacology</li>
        <li>Association of Women Psychiatrists</li>
        <li>Institute for Functional Medicine</li>
        <li>Integrative Medicine for Mental Health</li>
        <li>International Academy of Eating Disorders</li>
      </ul>
    </div>
  </div>
</div>
