<div class="about grey">
  <h1 class="heading">about dr. kraker</h1>
  <p>
    Jennifer Kraker, M.D., M.S., is a Columbia and Cornell educated psychiatrist
    who helps people who are experiencing arduous circumstances—such as relationship stress,
    family strain, career frustrations, worry, life transitions and times of crisis—live
    their most meaningful life.   Dr. Kraker's approach is highly personal.   She will work
    with you to find the right combination of psychotherapy, medications, and integrative
    treatment modalities.
  </p>
</div>
<div class="expertise">
  <h1 class="heading">dr. kraker has expertise in</h1>
  <ul>
    <li>Eating disorders</li>
    <ul class="sublist">
      <li>Anorexia &amp; Bulimia Nervosa</li>
      <li>Binge eating/Weight loss</li>
      <li>Orthorexia nervosa</li>
    </ul>
    <li>Reproductive psychiatry</li>
    <li>Borderline personality disorder</li>
    <li>Integrative Psychiatry</li>
  </ul>
</div>
