<div class="about grey">
  <h1 class="heading brown">about dr. kraker</h1>
    <p>
      Jennifer Kraker, M.D., M.S., is a Cornell and Columbia trained mental health and nutrition expert. She is trained in both traditional and integrative medicine and is on the cutting edge of using targeted nutritional interventions and integrative psychiatric approaches. Her approach is highly personal. She will work with you to find the right combination of psychotherapy, medications, and integrative treatment modalities.
    </p>
    <p>
      She helps those who are experiencing arduous circumstances—such as relationship stress, family strain, career frustrations, worry, life transitions and times of crisis—live their most meaningful life. She is relentless about getting to the root cause of your suffering— whether genetic, environmental, or spiritual.
    </p>
    <p>
      Dr. Kraker is Board Certified in Psychiatry and Neurology. In addition to her adult psychiatry training at Weil Cornell University, she has specialty training in Human Nutrition, Epigenetics and Psychiatric Epidemiology at Columbia College of Physicians and Surgeons, and the Mailman School of Public Health, respectively. She is an active member of both the Functional Medicine and Integrative Medicine in Mental Health community.
    </p>
</div>
<div class="expertise">
  <h1 class="heading brown">dr. kraker has expertise in</h1>
  <div class="expertise-lists">
    <div>
      <ul>
        <li>Eating disorders</li>
        <ul class="sublist brown">
          <li>Anorexia</li>
          <li>Bulimia Nervosa</li>
          <li>Binge Eating Disorder</li>
          <li>Weight Management</li>
        </ul>
      </ul>
    </div>
    <div>
      <ul>
        <li>Mood &amp; Anxiety Disorders</li>
        <li>Reproductive Psychiatry</li>
        <li>Emotional Wellness</li>
        <li>Optimization of Brain Function &amp; <br>Mental Performance</li>
        <li>Integrative Medical Psychiatry</li>
      </ul>
    </div>
  </div>
</div>
