<div class="header row">
  <div class="header_left">
    <h1 id="title" class="brown">{{#link-to 'index'}}JENNIFER KRAKER, MD, MS, P.C.{{/link-to}}</h1>
  </div>
  <div class="header_right">
    <h1 id="phone" class="brown">212-213-9286</h1>
  </div>
</div>
<div class="navigation">
  <div class="links">
    {{#link-to 'about' class="link blue"}}about{{/link-to}}
    {{#link-to 'services' class="link blue"}}services{{/link-to}}
    {{#link-to 'treatment-philosophy' class="link blue"}}treatment philosophy{{/link-to}}
    {{#link-to 'new-patients' class="link blue"}}new patients{{/link-to}}
  </div>
</div>
{{outlet}}
