<div class="conditions grey">
  <div class="approach brown">
    <h1 class="heading brown">treatment approach</h1>
    <p>
      My approach is highly personal—I will work with you to find the right combination of psychotherapy,
      medications and, if desired, integrative treatment modalities. Patients often describe me as a
      compassionate doctor who "gets it".
    </p>
  </div>
  <div class="modality brown">
    <h1 class="heading brown">treatment modality</h1>
    <p>
      Treatment is available for individuals, couples, and families.
      I treat all psychiatric disorders including addictions, eating disorders, anxiety,
      depression, women's reproductive psychiatry, ADHD, bipolar disorder, and OCD.  In addition,
      I have specialized experience with anorexia, bulimia and food addiction, as well as with
      addictions to all substances.
    </p>
    <p>
      My focus is on psychotheraputic treatment of the underlying personality conflicts that food,
      substances, and other addictions often mask. Medications, and or alternative therapies, are offered when appropriate.
    </p>
  </div>
</div>
