<div class="main">
  <div class="left center flex">
    <div class="welcome_text column brown">
      <div class="flex column welcome_title blue">
        <span id="title_name">Jennifer Kraker, MD</span>
        <hr class="blue">
        <span id="title_tag">Psychiatrist &#38; Psychotherapist</span>
      </div>
      <div class="flex column welcome_tag brown">
        A personalized and balanced<br>
        approach to a healthy mind
      </div>
    </div>
  </div>
  <div class="right column flex"></div>
</div>
