<div class="main">
  <div class="left center flex">
    <div class="welcome_text column">
      <div class="flex column welcome_title">
        <span id="title_name">Jennifer Kraker, MD</span>
        <hr>
        <span id="title_tag">Psychiatrist &#38; Psychotherapist</span>
      </div>
      <div class="flex column welcome_tag">
        A personalized and balanced<br>
        approach to a healthy mind
      </div>
      <p class="construction">
        Please forgive the inconvenience. <br />
        We are currently initializing our brand new site.
      </p>
    </div>
  </div>
  <div class="right column flex"></div>
</div>
