<div class="testimonials blue">
  <section class="overflow">
    {{pt-testimonials}}
  </section>
</div>

<div class="new-patients-bottom">
  <div class="new-patients grey">
    <h1 class="new-patients-heading">Policies</h1>
    <p class="brown">
      While I do not take insurance directly, I will work with you to maximize reimbursement through your insurance provider.
      Kindly note that timely payment is the sole responsibility of the patient, not the insurance provider.
    </p>
  </div>

  <div class="contact grey">
    <h1 class="contact-heading">get in touch</h1>
    <div class="address brown">
      122 East 42nd Street - 32nd Floor<br>
      New York, NY 10017
    </div>
    <br>
    <div class="contact-links">
      <div>
        <a class="email-phone brown" href="mailto:officeofdrkraker@gmail.com">officeofdrkraker@gmail.com</a>
      </div>
      <div>
        <a class="email-phone brown" href="tel:12122139286">212-213-9286</a>
      </div>
    </div>
  </div>
</div>
