<div class="testimonials blue">
  {{pt-testimonials}}
</div>

<div class="new-patients grey">
  <h1 class="heading blue">Policies</h1>
  <p class="brown">Initial consultation sessions are 45 to 60 minutes. Standard psychotherapy sessions are 45 minutes.
    While I do not take insurance directly, I will work with you to maximize reimbursement through your insurance provider.
    Kindly note that timely payment is the sole responsibility of the patient, not the insurance provider.
  </p>
</div>
