<div class="philosophy">
  <h1 class="heading">treatment orientations</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante at dolor ultricies posuere in ac purus.
    Pellentesque ut felis eu ex suscipit vulputate. Suspendisse molestie sodales ligula nec aliquam. Curabitur tempus
    sit amet ex ut lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Nulla dictum nulla id tortor sodales fermentum. Nam efficitur lectus et lacus viverra auctor. Nullam at erat sem.
  </p>
</div>

{{orientations-circles}}
