<div class="philosophy brown">
  <h1 class="heading blue">treatment philosophy</h1>
  <p>
    Dr. Kraker’s approach is highly personal. She will work with you to find the right combination of psychotherapy, integrative treatment modalities, and, if appropriate and desired, medications. Patients often describe her as a compassionate doctor who "gets it”.
  </p>
  <p>
    While she is passionate about— and a bit obsessed with— brain health, she doesn’t separate the mind from the body. Dr. Kraker takes a comprehensive look and dives as deep as you are willing to go with her to get at the root cause of your suffering.
  </p>
</div>

{{orientations-circles}}
